/* ---------------- Estilos Generales ----------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #fdfffa;
}

/* ---- Fuentes ---- */

p {
    font-family: 'Roboto Mono', monospace;
 }
 h1, h2, h3 {
   font-family: 'Space Mono', monospace;
 }
 h1 {
     font-size: 60px;
 }
 h2 {
     font-size: 45px;
 }
 h3 {
     font-size: 32px;
 }

/* ---- Animaciones Xs ---- */

 .X:not(:active) {
    opacity: 1;
   }
   
   .X:active {
     opacity: 0;
   }

/* ------------------- Estilo Sección Historia ------------------------ */

.Historia {
    background-image:url(imagenes/Fondo-Historia.png);
    background-repeat: no-repeat;
}

.historia-sup {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 3%;
  } 

  .historia-sup>h2 {
      margin-left: 5%;
  }

  .historia-sup>img {
margin-right: 2%;
  }

.borde-exterior {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    width: 55%;
    min-width: 26em;
    margin: 0 auto;
}

.borde-exterior>h2 {
  margin: 1em;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.col1, .col2, .col3, .col4 {
    margin: 1em;
}
.historia-fila {
  display: flex;
  justify-content: center;
}

.col1>img, .col2>img, .col3>img, .col4>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.col1:hover, .col2:hover, .col3:hover, .col4:hover{
  animation: tada; 
  animation-duration: 2s; 
}

/* ------------------- Estilo Sección Idea ------------------------ */




   
/* ------------------- Estilo Sección Proyectos ------------------------ */
div.img1 {
  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

div.img1:hover {

  -webkit-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
  /*width: 300px;
  height: 300px;*/
  -webkit-filter: grayscale(100%);
}

div.img1 img {
  width: 100%;
  height: auto;
}
.responsive {
  background-color: #fdfffa;
  border: #0a0a0a 3px solid;
  box-shadow: #0a0a0a 20px 20px;
  padding: 20px;
}
div.desc {
  padding: 15px;
  text-align: center;
font-size: 100%;
font-weight: bold;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/* ------------------- Estilo Sección Miembros ------------------------ */

/* Probar al arreglar la transición entre secciones 
.miembros {
    background-image:url(imagenes/Fondo-Miembros.png);
    background-repeat: no-repeat;
} */

 .nosotras {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    width: 30%;
    text-align: center;
  }
  
  .miembros-personal {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    padding: 20px;
    padding-bottom:100px;

  }
  
  .miembros-box {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
  }

  .miembros-personal>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.miembros-personal>h3:hover {
    background-color: #0a0a0a;
    color: #ff5683;
    font-style:italic;
}