/* ---------------- Estilos Generales ----------------------- */
p {
    font-family: 'Roboto Mono', monospace;
 }
 
 h1, h2 {
   font-family: 'Space Mono', monospace;
 }

 body {
     background: #fdfffa;
 }


/* ------------------- Estilo Sección Historia ------------------------ */

 .borde-exterior {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    width: 65%;
    min-width: 30em;
    margin: 0 auto;
}

.borde-exterior>h2 {
  margin: 1em;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.col1, .col2, .col3, .col4 {
    margin: 1em;
}
.historia-fila {
  display: flex;
  justify-content: center;
}

.col>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ------------------- Estilo Sección Idea ------------------------ */
.container{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h1{
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
 
  .item-1 {
   background-image: url("Documents/Factoria-F51/femtech/proyecto2/imagenes/codecademy.png");}
   .item-2 {
     background-image: url("Documents/Factoria-F51/femtech/proyecto2/imagenes/bitdegree.png");
   }

/* ------------------- Estilo Sección Proyectos ------------------------ */

/* ------------------- Estilo Sección Miembros ------------------------ */

 .nosotras {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    width: 30%;
    text-align: center;
    margin: 3%;
  }
  
  .miembros-personal {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    padding: 20px;
  }
  
  .miembros-box {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }