/* ---------------- Estilos Generales ----------------------- */
p {
    font-family: 'Roboto Mono', monospace;
 }
 
 h1, h2 {
   font-family: 'Space Mono', monospace;
 }

 body {
     background: #fdfffa;
 }


/* ------------------- Estilo Sección Miembros ------------------------ */

 .nosotras {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    width: 30%;
    text-align: center;
    margin: 3%;
  }
  
  .miembros-personal {
    background-color: #fdfffa;
    border: #0a0a0a 3px solid;
    box-shadow: #0a0a0a 20px 20px;
    padding: 20px;
  }
  
  .miembros-box {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }